Repository SamTess/Zappy, pull requests merged in 2025-06, with the labels that each got.

#176 [PR](Pic command): Added the pic command and modified incantation behavior
  src/Server/Makefile
  src/Server/command/parse_command_utils.c
  src/Server/command/start_incantation.c
  src/Server/graphical_command/command_pic.c
  src/Server/include/graphical_commands.h
Labels: gui, protocol, networking

#178 [PR] pull request for issue #163 protocol implémenter la commande pgt n i
  src/Server/Makefile
  src/Server/command/take_object.c
  src/Server/graphical_command/command_pgt.c
  src/Server/include/command.h
Labels: gui, protocol, networking

#180 [FEAT](Pbc command): Added pbc command and implemented in broadcast
  src/Server/Makefile
  src/Server/command/broadcast.c
  src/Server/graphical_command/command_pbc.c
  src/Server/include/graphical_commands.h
Labels: protocol, networking

#182 [FEAT](Seg command): Added Seg command and implemented it in finish_incantation
  src/Server/Makefile
  src/Server/command/finish_incantation.c
  src/Server/graphical_command/command_seg.c
  src/Server/include/graphical_commands.h
Labels: gui, protocol, networking

#185 [PR] pull request for issue #168 protocol implémenter la commande sbp
  src/Server/graphical_command/command_bct.c
  src/Server/graphical_command/command_pin.c
  src/Server/graphical_command/command_plv.c
  src/Server/graphical_command/command_ppo.c
  src/Server/graphical_command/command_sst.c
Labels: gui, protocol, networking

#194 [PR](GUI/ Server): Added all GUI commands tested and implemented also fixed Server a lots and upgraded it a lot
  src/Server/Makefile
  src/Server/command/broadcast.c
  src/Server/command/connect_nbr.c
  src/Server/command/eject.c
  src/Server/command/finish_incantation.c
  src/Server/command/fork.c
  src/Server/command/forward.c
  src/Server/command/inventory.c
  src/Server/command/left.c
  src/Server/command/look.c
  src/Server/command/parse_command.c
  src/Server/command/parse_command_utils.c
  src/Server/command/parse_command_utils_bis.c
  src/Server/command/pending_cmd_utils.c
  src/Server/command/right.c
  src/Server/command/set_object.c
  src/Server/command/start_incantation.c
  src/Server/command/take_object.c
  src/Server/command/tile_to_str.c
  src/Server/free.c
  src/Server/graphical_command/command_bct.c
  src/Server/graphical_command/command_ebo.c
  src/Server/graphical_command/command_edi.c
  src/Server/graphical_command/command_enw.c
  src/Server/graphical_command/command_msz.c
  src/Server/graphical_command/command_pbc.c
  src/Server/graphical_command/command_pdi.c
  src/Server/graphical_command/command_pdr.c
  src/Server/graphical_command/command_pex.c
  src/Server/graphical_command/command_pfk.c
  src/Server/graphical_command/command_pgt.c
  src/Server/graphical_command/command_pic.c
  src/Server/graphical_command/command_pie.c
  src/Server/graphical_command/command_pin.c
  src/Server/graphical_command/command_plv.c
  src/Server/graphical_command/command_pnw.c
  src/Server/graphical_command/command_ppo.c
  src/Server/graphical_command/command_seg.c
  src/Server/graphical_command/command_sgt.c
  src/Server/graphical_command/command_smg.c
  src/Server/graphical_command/command_sst.c
  src/Server/graphical_command/command_tna.c
  src/Server/include/command.h
  src/Server/include/graphical_commands.h
  src/Server/include/parsing.h
  src/Server/include/pending_cmd.h
  src/Server/include/server.h
  src/Server/main.c
  src/Server/map/resources_map.c
  src/Server/network/array_function.c
  src/Server/network/client_node.c
  src/Server/network/connection.c
  src/Server/network/graphical_client.c
  src/Server/network/queue_connection.c
  src/Server/network/server_run.c
  src/Server/parsing.c
  src/Server/player/player_death.c
  src/Server/player/player_init.c
  tests/launch_teams.sh
Labels: enhancement, server, ai-client, gui, protocol, networking, performance, refactor, feature, improvement, optimization, player, resources, parsing, command

#186 [PR] AI implement broadcasting channel system
  src/AI/agent/actions.py
  src/AI/agent/agent.py
  src/AI/agent/agentActionsService.py
  src/AI/agent/behaviors.py
  src/AI/agent/broadcastManager.py
  src/AI/agent/decisionManager.py
  src/AI/constants/roles.py
  src/AI/constants/upgrades.py
  src/AI/main.py
  src/AI/parser/paringArgsClass.py
  src/AI/utils/encryption.py
  src/AI/utils/zappy.py
Labels: enhancement, ai-client, performance, feature, improvement, optimization, logic, IA agent

#202 [FIX](Incantation command): Fixed incantation command bug where level wasn't calculated correctly forbidding elevation
  src/Server/command/start_incantation.c
Labels: bug, server

#209 [PR](Bug fixes): Fixed bug on gui for player and on server for connect_nbr
  src/GUI/gameController/GameState.cpp
  src/GUI/renderer/strategies/DetailedTileRenderStrategy.cpp
  src/GUI/renderer/strategies/DetailedTileRenderStrategy.hpp
  src/Server/command/connect_nbr.c
  src/Server/command/parse_command.c
Labels: bug, server, gui

#210 [PR](Ai 0 to 8 strategy): agent stuff detection + rallying + role attributing + upgrade phase detection
  src/AI/agent/agent.py
  src/AI/agent/agentActionsService.py
  src/AI/agent/behaviors.py
  src/AI/agent/broadcastManager.py
  src/AI/agent/decisionManager.py
  src/AI/main.py
  src/AI/utils/zappy.py
Labels: ai-client, improvement, logic, IA agent

#220 [PR] Ai implement fork
  src/AI/agent/agent.py
  src/AI/agent/agentActionsService.py
  src/AI/agent/behaviors.py
  src/AI/agent/decisionManager.py
  src/AI/main.py
  src/AI/utils/mutliprocessing.py
Labels: ai-client

#223 [PR] : fixed secret key generation logic
  src/AI/agent/agent.py
  src/AI/utils/encryption.py
Labels: bug, ai-client

#229 [PR] pull request for issue #195 UI afficher la victoire en fin de partie
  libs/RaylibCPP/font/Text3D.cpp
  src/GUI/renderer/MapRenderer.cpp
  src/GUI/renderer/MapRenderer.hpp
Labels: gui, feature, display

#231 [PR] pull request for issue #228 correction de l'affichage de la rotation du joueur
  src/GUI/gameController/entities/Player.cpp
Labels: bug, player

#221 [PR] Pull request for issue #125 : UI implémenter linterface utilisateur autour de la map UI overlay
  README.md
  docs/ui_architecture.md
  libs/RayGUICPP/RayGui.cpp
  libs/RayGUICPP/RayGui.hpp
  libs/RaylibCPP/RayLib.cpp
  libs/RaylibCPP/font/Text3D.cpp
  libs/RaylibCPP/texture/Texture.cpp
  src/GUI/Constants.hpp
  src/GUI/GameLoop.cpp
  src/GUI/GameLoop.hpp
  src/GUI/GameLoopUI.cpp
  src/GUI/Makefile
  src/GUI/cameraController/CameraController.cpp
  src/GUI/cameraController/CameraController.hpp
  src/GUI/gameController/EntitiesAll.hpp
  src/GUI/gameController/EntityFactory.cpp
  src/GUI/gameController/EntityFactory.hpp
  src/GUI/gameController/GameController.cpp
  src/GUI/gameController/GameController.hpp
  src/GUI/gameController/GameEntitiesAll.hpp
  src/GUI/gameController/GameState.cpp
  src/GUI/gameController/GameState.hpp
  src/GUI/gameController/IBroadcast.hpp
  src/GUI/gameController/ITeam.hpp
  src/GUI/gameController/entities/Broadcast.hpp
  src/GUI/gameController/entities/Team.hpp
  src/GUI/ui/UIWindowFactory.cpp
  src/GUI/ui/UIWindowFactory.hpp
  src/GUI/ui/UserInterface.cpp
  src/GUI/ui/UserInterface.hpp
  src/GUI/ui/windows/AUIWindow.cpp
  src/GUI/ui/windows/AUIWindow.hpp
  src/GUI/ui/windows/IUIWindow.hpp
  src/GUI/ui/windows/broadcasts/BroadcastsWindow.cpp
  src/GUI/ui/windows/broadcasts/BroadcastsWindow.hpp
  src/GUI/ui/windows/controls/ControlsWindow.cpp
  src/GUI/ui/windows/controls/ControlsWindow.hpp
  src/GUI/ui/windows/menu/MenuWindow.cpp
  src/GUI/ui/windows/menu/MenuWindow.hpp
  src/GUI/ui/windows/playerInfo/PlayerInfoWindow.cpp
  src/GUI/ui/windows/playerInfo/PlayerInfoWindow.hpp
  src/GUI/ui/windows/tileInfo/TileInfoWindow.cpp
  src/GUI/ui/windows/tileInfo/TileInfoWindow.hpp
  src/GUI/ui/windows/timeInfo/TimeInfoWindow.cpp
  src/GUI/ui/windows/timeInfo/TimeInfoWindow.hpp
  src/Shared/IGuiLib.hpp
Labels: feature, display

#236 [PR] Pull request for issue #233: Add tick managment
  src/GUI/GameLoop.cpp
  src/GUI/ui/UIWindowFactory.cpp
  src/GUI/ui/UIWindowFactory.hpp
  src/GUI/ui/UserInterface.cpp
  src/GUI/ui/UserInterface.hpp
  src/GUI/ui/windows/menu/MenuWindow.cpp
Labels: server, gui, feature

#238 [PR](Animation): Added animation for player death eject and broadcast
  assets/music/death.mp3
  src/GUI/GameLoop.cpp
  src/GUI/GameLoopUI.cpp
  src/GUI/Makefile
  src/GUI/gameController/GameController.cpp
  src/GUI/gameController/GameController.hpp
  src/GUI/renderer/DeathAnimationManager.cpp
  src/GUI/renderer/DeathAnimationManager.hpp
  src/GUI/renderer/EjectionAnimationManager.cpp
  src/GUI/renderer/EjectionAnimationManager.hpp
  src/GUI/renderer/ParticleSystem.cpp
  src/GUI/renderer/ParticleSystem.hpp
  src/GUI/renderer/Renderer.cpp
  src/GUI/renderer/strategies/DetailedTileRenderStrategy.cpp
  src/Server/command/parse_command_utils_bis.c
Labels: enhancement, server, gui, feature, improvement, bonus, player, display

#237 [PR] Pull request #235 : Feature afficher les informations dun joueur ou dune tuile au clic
  libs/RaylibCPP/RayLib.cpp
  libs/RaylibCPP/RayLib.hpp
  src/GUI/GameLoop.cpp
  src/GUI/GameLoop.hpp
  src/GUI/GameLoopUI.cpp
  src/GUI/renderer/MapRenderer.cpp
  src/GUI/renderer/MapRenderer.hpp
  src/GUI/renderer/UIRenderer.cpp
  src/GUI/renderer/UIRenderer.hpp
  src/GUI/ui/UIWindowFactory.cpp
  src/GUI/ui/UIWindowFactory.hpp
  src/GUI/ui/UserInterface.cpp
  src/GUI/ui/UserInterface.hpp
  src/GUI/ui/windows/AUIWindow.cpp
  src/GUI/ui/windows/AUIWindow.hpp
  src/GUI/ui/windows/menu/MenuWindow.cpp
  src/GUI/ui/windows/playerInfo/PlayerInfoWindow.cpp
  src/GUI/ui/windows/playerInfo/PlayerInfoWindow.hpp
  src/GUI/ui/windows/timeInfo/TimeInfoWindow.cpp
  src/GUI/ui/windows/timeInfo/TimeInfoWindow.hpp
  src/Shared/IGraphicsLib.hpp
Labels: enhancement, gui, display

#239 [PR](Broadcast): Reverted broadcast system to last iteration since better
  src/Server/command/broadcast.c
Labels: bug, server

#256 [PR] Pull request for issue #248: refactor system wrapper for better encapsulation
  docs/src/GUI/network_friend_utilisation.md
  src/GUI/Makefile
  src/GUI/network/connection/TcpConnection.cpp
  src/GUI/network/connection/TcpConnection.hpp
  src/GUI/network/systemWrapper/NetworkAPI.hpp
  src/GUI/network/systemWrapper/factory/NetworkFactory.cpp
  src/GUI/network/systemWrapper/factory/NetworkFactory.hpp
  src/GUI/network/systemWrapper/implementation/Buffer.cpp
  src/GUI/network/systemWrapper/implementation/Buffer.hpp
  src/GUI/network/systemWrapper/implementation/NetworkAddress.cpp
  src/GUI/network/systemWrapper/implementation/NetworkAddress.hpp
  src/GUI/network/systemWrapper/implementation/SocketPoller.cpp
  src/GUI/network/systemWrapper/implementation/SocketPoller.hpp
  src/GUI/network/systemWrapper/implementation/TcpSocket.cpp
  src/GUI/network/systemWrapper/implementation/TcpSocket.hpp
  src/GUI/network/systemWrapper/interfaces/IBuffer.hpp
  src/GUI/network/systemWrapper/interfaces/ISocket.hpp
  src/GUI/network/utils/SystemWrapper.cpp
  src/GUI/network/utils/SystemWrapper.hpp
  tests/unit/network/utils/test_system_wrapper.cpp
Labels: protocol, networking, refactor, improvement

#259 [PR] pull request for issue #244 info afficher les info necesssaure sur le gui
  src/GUI/Makefile
  src/GUI/gameController/GameState.cpp
  src/GUI/gameController/GameState.hpp
  src/GUI/gameController/IPlayerInventory.hpp
  src/GUI/gameController/entities/PlayerInventory.cpp
  src/GUI/gameController/entities/PlayerInventory.hpp
  src/GUI/ui/UIWindowFactory.cpp
  src/GUI/ui/UIWindowFactory.hpp
  src/GUI/ui/UserInterface.cpp
  src/GUI/ui/UserInterface.hpp
  src/GUI/ui/windows/broadcasts/BroadcastsWindow.cpp
  src/GUI/ui/windows/mapInfo/MapInfoWindow.cpp
  src/GUI/ui/windows/mapInfo/MapInfoWindow.hpp
  src/GUI/ui/windows/menu/MenuWindow.cpp
Labels: gui

#261 [PR](Error Handling): Removed all server_err and exit that could prevent the server from running forever left some server_err and exit in specific cases where technically the server wasn't launched
  assets/music/discord.mp3
  libs/RaylibCPP/RayLib.cpp
  libs/RaylibCPP/RayLib.hpp
  src/GUI/gameController/GameController.cpp
  src/GUI/gameController/GameController.hpp
  src/GUI/renderer/ParticleSystem.cpp
  src/GUI/renderer/ParticleSystem.hpp
  src/Server/command/broadcast.c
  src/Server/command/eject.c
  src/Server/command/look.c
  src/Server/command/look_utils.c
  src/Server/command/tile_to_str.c
  src/Server/graphical_command/command_ebo.c
  src/Server/map/egg.c
  src/Server/map/resources_map.c
  src/Server/network/connection.c
  src/Server/network/connection_utils.c
  src/Server/network/server_run.c
  src/Server/parsing.c
  src/Server/player/player_init.c
Labels: bug, enhancement, server, ai-client, performance, refactor, improvement, optimization, IA agent

#265 [PR] pull request for fix deplacement player séléction
  src/GUI/renderer/MapRenderer.cpp
Labels: gui, gameplay, display

#267 [PR] : Ai recreate agent class
  src/AI/agent/agent.py
  src/AI/agent/agentActionsService.py
  src/AI/agent/agentStateManager.py
  src/AI/agent/behaviors.py
  src/AI/agent/broadcastManager.py
  src/AI/agent/decisionManager.py
  src/AI/main.py
  src/AI/utils/zappy.py
Labels: ai-client

#271 [PR] Update documentation
  .github/release-examples.md
  .github/release-workflow.md
  .github/workflows/release.yml
  README.md
  docs/README.md
  docs/design_patterns.md
  docs/design_patterns_map_renderer.md
  docs/docusaurus/docs/architecture.md
  docs/docusaurus/docs/gameplay-guide.md
  docs/docusaurus/docusaurus.config.ts
  docs/docusaurus/sidebars.ts
  docs/docusaurus/src/components/HomepageFeatures/styles.module.css
  docs/libs/RayGUICPP/rayguicpp_documentation.md
  docs/libs/RaylibCPP/raylibcpp_documentation.md
  docs/map_renderer_implementation.md
  docs/protocol_server_ai.md
  docs/src/AI/ai_documentation.md
  docs/src/GUI/gui_documentation.md
  docs/src/Server/server_documentation.md
  docs/src/Shared/DLLoader.md
  docs/ui_architecture.md
Labels: docs
